#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: xx-large;
  color: blueviolet;
}

ul {
  color: darkblue;
}

.non-highlighted-todo-item {
  background-color: #ffffff;
  font-size: 1em;
  color: blue;
  font-weight: 400;
}

.highlighted-todo-item {
  background-color: lightgoldenrodyellow;
  font-size: 2em;
  color: #bf4f74;
  font-weight: 700;
}
